//page background
body {
    background: #e1faff;
    padding: 0;
    margin: 0;
    width: 100%;
}

//harvest assist logo css
#app>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    align-items: center;
}

//navigation bar
#nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f7b254;
    border-top: 2px solid #B4823E;
    border-bottom: 2px solid #B4823E;
}

//nav bar links (all except last link(see a.spacing1))
a.spacing {
    text-decoration: none;
    margin-right: 25px;
    font-family: 'Amatic SC', cursive;
    color: #ffffff;
    font-size: 2.5vw;
}

//nav bar last link on right with no margin
a.spacing1 {
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    color: #ffffff;
    font-size: 2.5vw;
}

//nav bar links on hover
a.spacing:hover {
    opacity: 70%;
}

a.spacing1:hover {
    opacity: 70%;
}

//paragraph text
p {
    font-family: 'Muli', sans-serif;
}

//headers
h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 6.5vw;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #f7b254;
    align-self: center;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 5vw;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #4d4d4d;
    align-self: center;
}

//login page css
#login>form>a {
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
}

#login>form {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

//csv upload container
.csvContainer {
    display: flex;
    flex-direction: column;
}

.csvUploadData {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.csvUploadButtonWrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

div.csvUpload {
    margin-left: auto;
    margin-right: auto;
}

.csvUploadClickBox {
    margin-left: auto;
    margin-right: auto;
}

//text instructions for page
p.getStarted {
    margin-left: 5%;
    margin-right: 5%;
}

//div section with tables on harvest times page
div.havestTimesUpload {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: #fcead0;
}

//div section with tables on waste times page
div.wasteTimesUpload {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: #fcead0;
}

//div setion for new fields
div.newFieldContainer {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background: #fcead0;
}

.addNewFieldCreate>button {
    margin-left: auto;
    margin-right: auto;
    width: 10px;
}

//div secition for added fields
div.field {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: #fcead0;
}

//sets width for tables inside container on harvest times page
div.harvestTables {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

//sets width for tables inside container on waste times page
div.wasteTables {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

//fields table css
.fieldTable {
    border-collapse: collapse;
    font-size: 1.1rem;
    width: 100%;
    color: #4d4d4d;
    border: none;
    background-color: transparent;
    font-family: 'Muli', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

//harvest table css
.harvestTable {
    border-collapse: collapse;
    font-size: 1.1rem;
    width: 100%;
    color: #4d4d4d;
    border: none;
    background-color: transparent;
    font-family: 'Muli', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

//add new crop css
.addNewCrop {
    border-collapse: collapse;
    font-size: 1.1rem;
    width: 100%;
    color: #4d4d4d;
    border: none;
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
}

//added crops css
.existingCrops {
    border-collapse: collapse;
    font-size: 1.1rem;
    width: 100%;
    color: #4d4d4d;
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
}

//borders and cell backgrounds for tables
table,
th,
td {
    border: 2px solid black;
    margin: 0;
    padding: 0;
}

th {
    height: 50px;
}

tr:hover {
    background-color: #f5f5f5;
    width: auto;
    height: auto;
}

tr:nth-child(odd) {
    background-color: #f8c073;
}

tr:nth-child(even) {
    background-color: #fcead0;
}

//trash can cell and logo css
td.trash>a>img {
    width: 20%;
    padding: 8px 0 0 0;
    margin: 0;
    border: 0;
}

td.trash {
    text-align: center;
    font-size: 1.5rem;
    padding: 0;
    width: 10%;
}

td.trash>a>img:hover {
    opacity: 70%;
    width: 25%;
}

// Add new crop table row
tr.newCrop {
    width: 10%;
    background-color: #fcead0;
}

.addNewCrop {
    font-size: 1.1rem;
    width: 100%;
    color: #4d4d4d;
    border: none;
    background-color: transparent;
    font-family: 'Muli', sans-serif;
}

//submit cell and logo css
td.submit {
    text-align: center;
    padding: 0;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

td.submit>a>img {
    width: 25%;
    padding: 8px 0 0 0;
}

td.submit>a>img:hover {
    opacity: 70%;
    width: 30%;
}

//hover when editing fields
.highlight {
    border: 3px solid rgb(209, 78, 78) inset;
    height: auto;
    width: auto;
    opacity: 40%;
}
.hide {
    visibility: hidden;
  }

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');